h1{
  color:pink;
  width:100%
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;

  width:100%
  
}
.header{
  display:flex;
  flex-direction: row;
  width:100%
}
button{

  margin-left: 115vh;
  background-color: pink;
  color:white
  
}
.data{
  width:fit-content;
  display: flex;
  justify-content: center;
  width:100%
 
  
}
.Content{margin-left: 30vw;
}

.header{
  display:flex;
  flex-direction: row;
}